body {
    padding: 0;
    margin: 0;
}
#main{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #0b364e;
}
.heading {
    text-align: center;
}
.heading h1 {
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
}
.calculator {
    width: 30vw;
    height: 40vh;
    border: 2px solid #000;
    padding: 20px;
    background: #61c39a;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

.calculator input[type="button"] {
    border: 0;
    background: #393535;
    color: #fff;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin: 5px;
}

.calculator input[type="text"] {
    border: 2px solid rgb(0 0 0);
    border-radius: 5px;
    text-align: right;
    width: 93%;
    height: 38px;
    padding: 0 3px;
    font-size: 20px;
    line-height: 20px;
    margin: 5px;
}
input.ope {
    background: #1c1e43!important;
}


.itemclear {
    background-color:#f95a52 !important;
    border: 2px solid #f95a52!important;
}